/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: Silver;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.form1 {
    border-style: solid;
    border-color: inherit;
    border-width: 2px;
    /*max-width: 350px !important;*/
    /*width: 1441px;*/
    /*margin-right: 832px;*/
}


    .iconButton {
        margin-bottom: auto;
        padding: 8px 0px 0px 8px;
        width: 100px !important;
        height: 100px !important;
        margin: 10px 10px 0px 0px;
        align-content: center;
    }

.inicioButton {
    display:inline-block;
    align-content:center;
    padding: 10px 10px 0px 0px;
    margin: 10px 10px 0px 0px;
    font-size: 20pt !important;
    text-align:right;
}

.cadastrarButton {
    align-content: flex-end;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.modalAcordo {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.contentPlaceHolder{
    margin: 0px 150px 0px 150px;
    align-content:center;
    width: 800px!important;
    height: 400px!important;
}